{%- set external_urls = {
  'github': 'https://github.com/cecbaert/lts5-face',
  'github_issues': 'https://github.com/cecbaert/lts5-face',
  'contributing': 'https://github.com/Lightning-AI/lightning/blob/master/.github/CONTRIBUTING.md',
  'governance': 'https://pytorch-lightning.readthedocs.io/en/latest/governance.html',
  'docs': '<github-pages-link>',
  'twitter': 'https://twitter.com/PyTorchLightnin',
  'discuss': 'https://www.pytorchlightning.ai/community',
  'tutorials': 'https://pytorch-lightning.readthedocs.io/en/latest/#tutorials',
  'previous_pytorch_versions': 'https://pytorch-lightning.rtfd.io/en/latest/',
  'home': 'https://www.epfl.ch/labs/lts5',
  'get_started': 'https://pytorch-lightning.readthedocs.io/en/latest/starter/introduction.html',
  'features': 'https://pytorch-lightning.rtfd.io/en/latest/',
  'blog': 'https://www.pytorchlightning.ai/blog',
  'resources': 'https://pytorch-lightning.readthedocs.io/en/latest/#community-examples',
  'support': 'https://pytorch-lightning.rtfd.io/en/latest/',
  'community': 'https://www.pytorchlightning.ai/community',
  'forums': 'https://github.com/Lightning-AI/lightning/discussions',
}
-%}
